<div th:fragment="footer" class="w-full bg-[#402B1C] py-8">
  <div class="max-w-screen-xl flex flex-col gap-8 mx-auto py-8 px-4 gap-8">
    <div class="flex items-center justify-center">
      <div class="grid grid-cols-4">
        <div class="flex flex-col gap-4">
          <div class="flex gap-4 items-center">
            <div class="h-10 w-10 bg-[#D7AE75] rounded-full"></div>
            <span class="text-white font-semibold text-xl">Coffee Shop</span>
          </div>
          <span class="text-[#E4D9CD] text-sm"
            >Tu lugar favorito para disfrutar del mejor café artesanal y
            deliciosos postres en un ambiente acogedor.</span
          >
        </div>
        <div class="flex flex-col gap-4">
          <span class="text-white font-semibold text-xl">Navegación</span>
          <div class="flex flex-col gap-2">
            <a
              href="/home"
              class="text-[#E4D9CD] hover:text-white text-sm cursor-pointer"
              >Inicio</a
            >
            <!-- <span class="text-[#E4D9CD] hover:text-white text-sm cursor-pointer"
              >Menú</span
            > -->
            <a
              th:href="@{/cs/register}"
              class="text-[#E4D9CD] hover:text-white text-sm cursor-pointer"
              >Registro</a
            >
            <a
              th:href="@{/cs/contact}"
              class="text-[#E4D9CD] hover:text-white text-sm cursor-pointer"
              >Contacto</a
            >
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <span class="text-white font-semibold text-xl">Contacto</span>
          <div class="flex flex-col gap-2">
            <span class="text-[#E4D9CD] text-sm"
              >Av. Principal #123, Quito</span
            >
            <span class="text-[#E4D9CD] text-sm">+53 (99) 0123-4567</span>
            <span class="text-[#E4D9CD] text-sm">garaque@correo.com</span>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <span class="text-white font-semibold text-xl">Horario</span>
          <div class="flex flex-col gap-2">
            <span class="text-[#E4D9CD] text-sm">Lun - Vie: 7:00 - 21:00</span>
            <span class="text-[#E4D9CD] text-sm">Sáb - Dom: 8:00 - 22:00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex border-t border-[#E4D9CD]/30 pt-4 justify-center">
      <span class="text-[#E4D9CD] text-sm font-light pt-4">
        © 2025 Coffee Shop - By Gerardo Araque
      </span>
    </div>
  </div>
</div>
