<div class="w-full bg-[#FAF7F4]">
  <div class="max-w-screen-xl flex justify-between mx-auto py-3">
    <div class="flex gap-4 items-center justify-center">
      <div class="h-10 w-10 bg-[#78543A] rounded-full"></div>
      <span class="text-[#78543A] font-semibold text-xl">Coffee Shop</span>
    </div>
    <div class="flex gap-4">
      <a
        href="/login"
        class="bg-[#78543A] text-white font-semibold px-6 py-2 rounded-lg"
        >Inicio</a
      >
      <a
        href="/register"
        class="text-[#78543A] hover:bg-[#F0EBE6] px-6 py-2 hover:rounded-lg"
        >Menu</a
      >
      <a
        href="/register"
        class="text-[#78543A] hover:bg-[#F0EBE6] px-6 py-2 hover:rounded-lg"
        >Registro</a
      >
      <a
        href="/register"
        class="text-[#78543A] hover:bg-[#F0EBE6] px-6 py-2 hover:rounded-lg"
        >Contacto</a
      >
    </div>
  </div>
</div>
